:root {
    --primary-0: #483698;
    --secondary-0: #ffffff;
    --secondary-1: #f9f9f9;
    --secondary-3: #b9b9b9;
    --secondary-4: #8a8a8a;
    --secondary-7: #282828;
    --danger: #dc3545;
    --cta-0: #fbde40;
    --cta-1: #ffe766;
    
}

